h1 {
  margin: 0px;
}

#bbsinfo, #bbsNavi {
  font-size: 80%;
}

div.postName {
  margin-top: 1em;
}

div.postBody {
  margin-top: 0.2em;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

div.unread span.postShortId {
  font-weight: bold;
}
